{% extends "base.html" %}
{% block title%}Posts{% endblock %}

{% block body %}
	<h1> Articles </h1>

	<ul>
		{% for post in posts %}
			<h1><a href="/posts/addnew?id={{post.id}}">{{post.title}} </a></h1>
			<h4> Posté par {{post.pseudo}}</h4>
			<p>{{post.content|slice (0,250) |raw}}... <a href="/posts/addnew?id={{post.id}}">lire la suite </a></p>
			
		{% endfor %}
	</ul>
{% endblock %}