{% extends "base.html" %}
{% block title%}{{post.title}}{% endblock %}
{% block style %}Post{% endblock %}

{% block body %}
<div class="row contenu">
		<section class="col-md-6 scroll_articles list-articles" id="style-2">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 section_content"> 
					<h2> {{post.title}} </h2>
					<hr>
					<div class="espaceur"></div>
					<p>{{post.content|raw }}</p>
					<div class="espaceur"></div>
							{% for comment in comments %}
							<div class="text-left comments  bg-info">
								<h4> {{comment.author}} </h4>
								<p>{{comment.comment}}</p>
								<a href="/posts/report?id={{comment.id}}&amp;post-id={{post.id}}"> Signaler</a>
								</div>
							{% endfor %}
					
					<div class="text-left">
						<div class="espaceur"></div>
						<h3> Laissez un commentaire </h3>

						<form action='/posts/comment' method="post" id="comment_form">
							<label> Nom : <br/><input type="text" name="author" placeholder="Mon nom"></label>
							<input type="hidden" value="{{post.id}}" name="post_id">
						</form>
						<label> Mon message : <br/><textarea rows="4" cols="50" form="comment_form" name="comment" id=""> </textarea> </label>
						<br/>
						<button type="submit" form="comment_form" value="Envoyer" class="btn btn-primary"> Envoyer</button>
						<div class="espaceur"></div>
					</div>
				</div>
					<div class="col-md-1"></div>
				
			</div> 
		</section>
		<section class="col-md-6 scroll_articles article-block" id="style-1">
			<div class="row force-overflow">
				<div class="col-md-12 section_content">
					<h2>Articles </h2>	
					<hr>
					<div class="espaceur"></div>
						<div class="row ">
							{% for post in posts %}
								<div class="col-md-12 article center-block">
									<h1><a href="/posts/addnew?id={{post.id}}">{{post.title}} </a></h1>
									<h4> Posté par {{post.pseudo}}</h4>
									<p>{{post.content|slice (0,250) |raw}}... <a href="/posts/addnew?id={{post.id}}">lire la suite </a></p>
			
								</div>
							{% endfor %}
						</div>
				</div>
			</div>
			
		</section>

	</div>
		

{% endblock %}